
<form class="container myField"  >
    <div class="form-row">
  <div class="form-group col-md-3">
      <label for="totalBudget">Item Name</label>
      <input type="text" class="form-control" name="itemName" [(ngModel)]="expense.itemName" > 
      </div>

  <div class="form-group  col-md-3 categoryDropdown">
    <label for="category" >Categories</label>
    <select name="categoryName"  [(ngModel)]="expense.categoryName">
      <option [value]="category.name" *ngFor="let category of allCategories">{{category.name}}</option>
    </select>
   </div>
   
   <div class="form-group  col-md-3">
    <label for="amount" >Amount</label>
    <input type="text" class="form-control " name="amount" [(ngModel)]="expense.amount" > 
    </div>

    <div class="form-group  col-md-3">
    <button type="button" class="btn btn-primary addExpenseButton" (click)="editExpense()">Edit Expense</button>
  </div> 
</div>


</form>

<!-- <p>{{ (allEpensess$|async)|json }}</p>


<p>{{ expensesListjson }}</p> -->